.list__container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: var(--spacing-medium);
    list-style: none;
}

@media (max-width: 1024px) {
    .list__container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 425px) {
    .list__container {
        grid-template-columns: repeat(1,1fr);
    }
}
.list__item {
    border-radius: var(--border-radius-small);
    background-color: var(--color-white);
    cursor: pointer;
}
.list__item a {
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-family-main);
}
.list__img {
    max-width: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}