@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500;700;800;900&display=swap');


:root {
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #262626;
    --color-light-grey: #B0A8B9;
    --color-dark-grey: #4B4453;
    --color-purple: #ab7ff1;
    --spacing-container: 45px;
    --spacing-large: 20px;
    --spacing-medium: 15px;
    --spacing-small: 7px;

    --border-radius-medium: 8px;
    --border-radius-small: 4px;

    --font-family-main: 'Noto Sans';

    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 25px;
    --font-size-xl: 30px;
    --font-size-2xl: 40px;
    --font-size-3xl: 50px;
    --font-size-4xl: 60px;
    --font-size-5xl: 70px;

    --default-background: url(@assets/images/bg-1.jpg);

    --screen-lg: 1440px;
    --screen-lm: 1024px;
    --screen-ls: 768px;
    --screen-ml: 540px;
    --screen--mm: 425px;
    --screen-ms: 320px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--default-background);
    font-family: sans-serif;
    background-color: var(--color-light-grey);
    background-attachment: fixed;
    background-size:cover;
}

.header__text {
    line-height: 1.7;
    font-size: var(--font-size-2xl);
    color: var(--color-purple);
}

.container {
    width: var(--screen-lg);
    margin: 0 auto;
}

@media (max-width: 1440px) {
    .container {
        width: var(--screen-lm);
    }
}
@media (max-width: 1024px) {
    .container {
        width: var(--screen-ls);
    }
}
@media (max-width: 768px) {
    .container {
        width: var(--screen-ml);
    }
}

@media (max-width: 540px) {
    .container {
        width: 100%;
        padding: 0 var(--spacing-large);
    }
}

li {
    list-style: none;
}
