@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500;700;800;900&display=swap');


:root {
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #262626;
    --color-light-grey: #B0A8B9;
    --color-dark-grey: #4B4453;
    --color-purple: #a878f5;

    --spacing-medium: 15px;
    --spacing-small: 7px;

    --border-radius-small: 4px;

    --font-family-main: 'Noto Sans';

    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 25px;
    --font-size-xl: 30px;
    --font-size-2xl: 40px;
    --font-size-3xl: 50px;
    --font-size-4xl: 60px;
    --font-size-5xl: 70px;

    --default-background: url(@assets/images/bg-1.jpg)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark);
    font-family: sans-serif;
    background-size:cover;
    background-position: top center;
    background: var(--default-background);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header__text {
    line-height: 1.7;
    font-size: var(--font-size-2xl);
    color: var(--color-purple);
}